<ng-container *ngIf="currentUserId; then userConnected else anonymous"></ng-container>
<ng-template #userConnected>
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap" />
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a router-outlet="/" class="nav-link px-2 text-white">Acceuil</a></li>
          <li><a router-outlet="/articlesByUser" class="nav-link px-2 text-white">Gestion article</a></li>
          <li><a router-outlet="/" class="nav-link px-2 text-white">Apropos</a></li>
          <li><a router-outlet="/" class="nav-link px-2 text-white">FAQ</a></li>
        </ul>

        <div class="text-end">
          <button type="button" class="btn btn-warning" (click)="logout()">Se deconnecter</button>
        </div>
      </div>
    </div>
  </header>
</ng-template>

<ng-template #anonymous>
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap" />
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a router-outlet="/" class="nav-link px-2 text-white">Acceuil</a></li>
          <li><a router-outlet="/" class="nav-link px-2 text-white">Apropos</a></li>
          <li><a router-outlet="/" class="nav-link px-2 text-white">FAQ</a></li>
        </ul>

        <div class="text-end">
          <a type="button" class="btn btn-warning" router-Link="/connexion">Se connecter</a>
        </div>
      </div>
    </div>
  </header>
</ng-template>
