<div class="container mt-5">
  <a routerLink="/articles" class="btn btn-secondary" *ngIf="currentUser>0">Acceuil</a>
  <div class="card border border-0 shadow p-2">
    <div class="d-flex justify-content-between">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary col-2 mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Ajouter
      </button>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
          style="height: 40px !important;">
        <button class="btn btn-outline-success" type="submit" style="height: 40px !important;">Search</button>
      </form>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th class="text-center" scope="col">#</th>
          <th class="text-center" scope="col">titre</th>
          <th class="text-center" scope="col">Contenue</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of getArticlesPage(); let i = index">
          <th scope="row">{{ article.id }}</th>
          <td>{{ article.title }}</td>
          <td>{{ article.body }}</td>
          <td>
            <button type="button" class="btn btn-warning mb-3" data-bs-toggle="modal" data-bs-target="#modifierArticles"
              (click)="getCurrentArticle(article.id)">
              Modifier
            </button>
          </td>
          <td>
            <button class="btn btn-sm btn-danger">Archiver</button>
          </td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteArticle(article.id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- pour la pagination -->
    <div class="d-flex justify-content-center my-5">
      <button class="btn btnColor me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
        Précédent
      </button>
      <button class="btn btnColor ms-2" *ngFor="let page of pages" (click)="pageActuelle = page">
        {{ page }}
      </button>
      <button class="btn btnColor ms-2" [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
        Suivant
      </button>
    </div>
  </div>
</div>

<!-- Modal ajouter-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form">
          <div class="mb-3">
            <label for="titre" class="form-label">Titre</label>
            <input type="text" class="form-control" id="titre" [(ngModel)]="titre">
          </div>
          <div class="mb-3">
            <label for="contenue" class="form-label">Contenue</label>
            <textarea type="text" class="form-control" id="contenue" [(ngModel)]="contenue"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary " data-bs-dismiss="modal" (click)="addArticle()">Publier</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal modifier-->
<div class="modal fade" id="modifierArticles" tabindex="-1" aria-labelledby="modifierArticlesLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modifierArticlesLabel">Modifer article</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form">
          <div class="mb-3">
            <label for="titre" class="form-label">Titre</label>
            <input type="text" class="form-control" id="titre" [(ngModel)]="titre">
          </div>
          <div class="mb-3">
            <label for="contenue" class="form-label">Contenue</label>
            <textarea type="text" class="form-control" id="contenue" [(ngModel)]="contenue"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning " data-bs-dismiss="modal"
          (click)="updateArticle()">Modifier</button>
      </div>
    </div>
  </div>
</div>
